

*{
    margin:;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header{
    background: #B0FFFA;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    border-bottom: .6px solid #5c6fdb;
    margin-bottom: 200px;
    z-index: 2;
    
}
header p{
    max-width: 600px;
}
header nav{
    min-width: 700px;
}
header nav ul{ 
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding: 15px 20px 15px 40px;
    list-style: none;
    font-weight: 500;
    font-size: 1.7rem;
}
/* header nav ul a:visited{
    color: #1734d4;
} */
.active{
    color: #FEC288;

}


header nav ul li a:hover{
    color: #ceeded;
    transition: 0.5s;
}
body{
    padding-top: 200px;
    
    background: #ceeded;   /*  #9ce0e8 */
    align-items: center;
}
span{
    color: #5c6fdb;
    font-weight: 600;
}
div{
    padding-left: 20px;
}
section{
    padding-top: 4px;
    min-height:300px;
    padding-bottom: 20px;
    border-bottom:.5px solid #5c6fdb;
    z-index: -1;
}


h2{
    display: block;
    justify-self: center;   /*  je ne connaissais pas ceci avant. je l'ai decouvert par vscode et ca a marcher */
    padding: 20px 0 8px 0;
    color: #5c6fdb;
    font-weight: 800;
}
.home{
    display: flex;
    justify-content: space-between;
    border-bottom:.5px solid #5c6fdb;
}
.home-div{
    max-width: 35%;
}
.logo-div{
    min-width: 36%;
    position: relative;
    top: -55px;
    z-index: -3;
}
.logo-div img{
    border: 2px solid #5c6fdb;
    border-radius: 100px;
}
.home div p span{
    color: #5c6fdb;
    font-weight: 700;
}
.home-div a{
    display: block;
    height: 28px;
    width: 110px;
    align-content: center;
    text-align: center;
    align-items: center;
    margin-left: 200px;
    padding: 2px ;
    border: 2px solid #5c6fdb;
    border-radius: 3.5px;
    margin-bottom: 3px;
    margin-top: 20px;
    color: white;
    background-color: #5c6fdb;
   
}
.home-div a:hover{
    background-color: #1734d4;
    transition: 1s;
}

.about{
    border-bottom:0.5px solid #5c6fdb;
    background-color: #B0FFFA; 
    
}
.about-div{
    display: flex;
    justify-content: space-between;
    
}
.description-div{
    max-width: 50%;  
}

.description-div a{   
    width: 150px;
    height: 40px;
    border-radius: 4px;
    position: relative; 
    right: 0;
    left: 300px; 
    display: block;
    text-align: center;
    align-content: center;
    color: white;
    background-color: #6677da;
}
.description-div a:hover{
    background-color: #1734d4;
    transition: 1s;
}
.img-div img{
    position: relative;
    right: 10rem;
    height: 200px;
    bottom: 3rem;
    border: 2px solid #5c6fdb;
    border-radius: 100px;
    z-index: 0;
}
/* projets */
.project-box{
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    /* border: 1px solid red; */
}
.project-box div{
    min-height: 276px;
    width: 250px;
    margin: 10px 0 10px 0;
    padding: 3px 3px 0 3px;
    border: 2px solid #beefed ;
    border-radius: 4.5px;
    box-shadow: 2px 4px 5px #1734d4 ;
    align-items: center;
    text-align: center;
    background-color:#beefed;
} 
.project-box div:hover{
    background-color: #B0FFFA;
    transition: 1s;
}
.project-box h4{
    color: #243596;
    font-size: 20px;
    font-weight: 600; 
    }
.project-box p{
    margin-top: 20px;
    text-align: center;
}
.project-box div a{
    display: block;
    height: 28px;
    width: 90px;
    align-content: center;
    text-align: center;
    align-items: center;
    padding: 2px;
    margin-left:  33.33%;
    border: 2px solid #5c6fdb;
    border-radius: 3.5px;
    background-color: #5c6fdb;
    color: white;
    }
.project-box div a:hover{
    background-color: #1734d4;
    color: wheat;
    transition: 1s;
}
    
/* competences */
.skills{
     background-color: #B0FFFA; 
}
.skills-box{
    display: flex;
    justify-content: space-between;
    height: 280px;
    width: 90%;
    margin-left: 30px;
}
.skills-col{
    width: 40%;
    border: 2px solid #beefed ;
    border-radius: 4.5px;
    padding: 3px 3px 3px 3px;
    margin: 10px 10px 10px 0;
    box-shadow: 2px 4px 15px #1734d4 ;
    align-items: center;
    text-align: center;
    background-color:#beefed;
    
    
}


.project-box div{
    min-height: 276px;
    width: 250px;
    margin: 10px 0 10px 0;
    padding: 3px 3px 0 3px;
    border: 2px solid #beefed ;
    border-radius: 4.5px;
    box-shadow: 2px 4px 5px #1734d4 ;
    align-items: center;
    text-align: center;
    background-color:#beefed;
} 
.skills-col .line{
       height: 1rem;
       width: 90%;
       padding: 1px; 
       border: 2px solid blue;
       border-radius: 30px;
       background: #ceeded;
       align-items: center;
       text-align: center;
       align-content: center;
       padding: 1px;
    }

.skills-col .progress{
    display: block;
    height: 10px;
    width: 90%;
    background-color: #FEC288;
    overflow: hidden;
    margin-left: 1px;
}
.skills-col .progress:hover{
    color: red;
}
.skills-col p{
    padding:1rem 0 2px 10%;
}
#soft1{
    width: 87%;
}
#soft2{
    width: 70%;
}
#soft3{
    width: 63%;
}
#soft4{
    width: 68%;
}
#hard1{
    width: 93%;
}
#hard2{
    width: 67%;
}
#hard3{
    width: 69%;
}
#hard4{
    width: 82%;
}
/* contacts */
.contacts{
    padding: 5px 30px 5px 30px;
    align-items: center;
    align-content: center;
    text-align: center;
}
.contacts p:nth-child(3) { 
     margin-bottom: 20px;
}
.contacts{

    background-color: #DFD0B8;  
}
.form-div{
    
    width: 90%;
    align-items: center;
    align-content: center;
    text-align: center;
}

.names{
    display: flex;
    padding-left: 109px;
    margin-top: 4px;
    width: 80%;
    justify-content: space-between;
}
.names input{
    width: 47%;
    height: 35px;
    border: 1.5px solid #5c6fdb;
    border-radius: 4px;
}
.names input:focus{
    background-color:#c9c6c061 ;
     border: 2px solid blue;
}
.email{
    
    width: 80%;
    /* margin-right: 90px; */
    height: 35px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1.5px solid #5c6fdb;
    border-radius: 4px;
}
.email:focus{
    background-color: #c9c6c061;
     border: 2px solid blue;
}
.title , .name{
    width: 80%;
    height: 35px;
    border: 1.5px solid #5c6fdb;
    border-radius: 4px;
}
.title:focus{
     background-color: #c9c6c061;
      border: 2px solid blue;
   
}
textarea{
    width: 80%;
    margin-top: 12px;
    border: 1.5px solid #5c6fdb;
    border-radius: 4px; 
    resize: none;      
}
textarea:focus{
     background-color: #c9c6c061;
     border: 2px solid blue; 
}
.form-div button{
    width: 140px;
    height: 32px;
    margin:8px 0 8px 0 ;
    background-color: #5c6fdb;
    border: 2px solid #5c6fdb;
    color: white;
    border-radius: 3.5px;
    padding: 2px ;
     align-content: center;
    text-align: center;
    align-items: center;
}
.form-div button:hover{
    cursor: pointer;
    background-color: #1734d4;
    transition: 1s;
}
/* footer */

footer{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-content: center;
     background-color: black;
    
}
footer p{
    color: white;
    text-align: center;
    margin: 0 30px 0 35px;
}
.project-box div a{
    margin-top: 2.5rem;
}

/* pour les petits ecrans */

@media (max-width: 768px) {
    /* En-tête */
    header {
        flex-wrap: wrap;
        font-size: 1.5rem;
        padding: 1rem;
    }
     header h1{
        font-size: 1.5rem;
     }

    header nav {
        width: 100%;
        min-width: unset;
        /* border: 2px solid red; */
        /* background-color: #FCF8F8; */
        padding: .2rem;
        margin-top: 1rem;
    }

    header nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.313rem;
        padding: 0;
        align-items: flex;
        font-size: 80%;
    }

   
    body {
        padding-top: 150px; 
    }

    section {
        padding: 1rem;
        margin: 0;
    }

    
    .home {
        display: flex;
        text-align: center;
    }
    
    .home-div {
        margin-top: 1rem;
        max-width: 50%;
        margin-bottom: 1rem;
        /* border: 2px solid red; */
        position: relative;
        margin-left: -0.625rem;
    }
    .home-div{
        padding-top: 2rem;
        margin-right: 0.3rem;
    }
     .home-div a{
    display: block;
    height: 25px;
    width: 110px;
    margin-left: 0;
    padding: 2px ;
    margin-top: 7rem;
    /* margin-top: 20px; */
    
   
}
    .logo-div {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    .logo-div img {
        width: 150px;
        height: 150px;
        margin-top: 7rem;
    }

    /* Section À propos */
    .about-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* border: 2px solid red; */
    }

   .about .img-div {
        
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        /* background: 1px solid red; */
    }

    .img-div img {
        box-sizing: border-box;
        width: 152px;
        height: 152px;
        position: relative;
        right: 1rem;
        /* right: -50rem; */
        /* height: 100px; */
        bottom: -4em;
    }
    .description-div{
        /* flex-basis: 60%; */
 
    /* border: 2px solid blue;  */
    padding-left: 0;
}

    .description-div a {
        margin: 1rem auto;
        left: 0;
        
    }
    /* Section Projets */
    .project-box {
        flex-direction: column;
        align-items: center;
    }

    .project-box div {
        width: 90%;
        margin: 0.5rem auto;
    }

    /* Section Compétences */
    .skills-box {
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-left: 0;
    }

    .skills-col {
        width: 90%;
        margin: 0.5rem auto;
    }

    /* Section Contacts */
    .form-div {
        width: 100%;
    }

    .names {
        flex-direction: column;
        padding-left: 0;
        width: 100%;
    }

    .names input {
        width: 90%;
        margin-bottom: 0.5rem;

    }

    .email, .title, textarea , .name {
        width: 90%;
    }

    /* Footer */
    footer {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
}
