

*{
    margin: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header{
    background: #B0FFFA;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    border-bottom: .6px solid #5c6fdb;
    margin-bottom: 200px;
    z-index: 2;
    
}
header p{
    max-width: 600px;
}
header nav{
    min-width: 700px;
}
header nav ul{ 
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding: 15px 20px 15px 40px;
    list-style: none;
    font-weight: 500;
    font-size: 1.7rem;
}
/* header nav ul a:visited{
    color: #1734d4;
} */
.active{
    color: #FEC288;

}


header nav ul li a:hover{
    color: #ceeded;
    transition: 0.5s;
}
body{
    padding-top: 200px;
    
    background: #ceeded;   /*  #9ce0e8 */
    align-items: center;
}
span{
    color: #5c6fdb;
    font-weight: 600;
}
div{
    padding-left: 20px;
}
section{
    padding-top: 4px;
    min-height:300px;
    padding-bottom: 20px;
    border-bottom:.5px solid #5c6fdb;
    z-index: -1;
}


h2{
    display: block;
    justify-self: center;   /*  je ne connaissais pas ceci avant. je l'ai decouvert par vscode et ca a marcher */
    padding: 20px 0 8px 0;
    color: #5c6fdb;
    font-weight: 800;
}
.home{
    display: flex;
    justify-content: space-between;
    border-bottom:.5px solid #5c6fdb;
}
.home-div{
    max-width: 35%;
}
.logo-div{
    min-width: 36%;
    position: relative;
    top: -55px;
    z-index: -3;
}
.logo-div img{
    border: 2px solid #5c6fdb;
    border-radius: 100px;
}
.home div p span{
    color: #5c6fdb;
    font-weight: 700;
}
.home-div a{
    display: block;
    height: 28px;
    width: 110px;
    align-content: center;
    text-align: center;
    align-items: center;
    margin-left: 200px;
    padding: 2px ;
    border: 2px solid #5c6fdb;
    border-radius: 3.5px;
    margin-bottom: 3px;
    margin-top: 20px;
    color: white;
    background-color: #5c6fdb;
   
}
.home-div a:hover{
    background-color: #1734d4;
    transition: 1s;
}

.about{
    border-bottom:0.5px solid #5c6fdb;
    background-color: #B0FFFA; 
    
}
.about-div{
    display: flex;
    justify-content: space-between;
    
}
.description-div{
    max-width: 600px;  
}
.description-div p{
padding-bottom :13px;
}
.description-div a{   
    width: 150px;
    height: 40px;
    border-radius: 4px;
    position: relative; 
    right: 0;
    left: 300px; 
    display: block;
    text-align: center;
    align-content: center;
    color: white;
    background-color: #6677da;
}
.description-div a:hover{
    background-color: #1734d4;
    transition: 1s;
}
.img-div img{
    position: relative;
    right: 250px;
    height: 200px;
    bottom: 20px;
    border: 2px solid #5c6fdb;
    border-radius: 100px;
    z-index: 0;
}
/* projets */
.project-box{
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    /* border: 1px solid red; */
}
.project-box div{
    min-height: 276px;
    width: 250px;
    margin: 10px 0 10px 0;
    padding: 3px 3px 0 3px;
    border: 2px solid #beefed ;
    border-radius: 4.5px;
    box-shadow: 2px 4px 5px #1734d4 ;
    align-items: center;
    text-align: center;
    background-color:#beefed;
} 
.project-box div:hover{
    background-color: #B0FFFA;
    transition: 1s;
}
.project-box h4{
    color: #243596;
    font-size: 20px;
    font-weight: 600; 
    }
.project-box p{
    margin-top: 20px;
    text-align: center;
}
.project-box div a{
    display: block;
    height: 28px;
    width: 90px;
    align-content: center;
    text-align: center;
    align-items: center;
    padding: 2px;
    margin-left:  33.33%;
    border: 2px solid #5c6fdb;
    border-radius: 3.5px;
    background-color: #5c6fdb;
    color: white;
    }
.project-box div a:hover{
    background-color: #1734d4;
    color: wheat;
    transition: 1s;
}
    
/* competences */
.skills{
     background-color: #B0FFFA; 
}
.skills-box{
    display: flex;
    justify-content: space-between;
    height: 280px;
    width: 90%;
    margin-left: 30px;
}
.skills-col{
    width: 40%;
    border: 2px solid #beefed ;
    border-radius: 4.5px;
    padding: 3px 3px 3px 3px;
    margin: 10px 10px 10px 0;
    box-shadow: 2px 4px 15px #1734d4 ;
    align-items: center;
    text-align: center;
    background-color:#beefed;
    
    
}


.project-box div{
    min-height: 276px;
    width: 250px;
    margin: 10px 0 10px 0;
    padding: 3px 3px 0 3px;
    border: 2px solid #beefed ;
    border-radius: 4.5px;
    box-shadow: 2px 4px 5px #1734d4 ;
    align-items: center;
    text-align: center;
    background-color:#beefed;
} 
.skills-col .line{
       height: 1rem;
       width: 90%;
       padding: 1px; 
       border: 2px solid blue;
       border-radius: 30px;
       background: #ceeded;
       align-items: center;
       text-align: center;
       align-content: center;
       padding: 1px;
    }

.skills-col .progress{
    display: block;
    height: 10px;
    width: 90%;
    background-color: #FEC288;
    overflow: hidden;
    margin-left: 1px;
}
.skills-col .progress:hover{
    color: red;
}
.skills-col p{
    padding:1rem 0 2px 10%;
}
#soft1{
    width: 87%;
}
#soft2{
    width: 70%;
}
#soft3{
    width: 63%;
}
#soft4{
    width: 68%;
}
#hard1{
    width: 93%;
}
#hard2{
    width: 67%;
}
#hard3{
    width: 69%;
}
#hard4{
    width: 82%;
}
/* contacts */
.contacts{
    padding: 5px 30px 5px 30px;
    align-items: center;
    align-content: center;
    text-align: center;
}
.contacts p:nth-child(3) { 
     margin-bottom: 20px;
}
.contacts{

    background-color: #DFD0B8;  
}
.form-div{
    
    width: 90%;
    align-items: center;
    align-content: center;
    text-align: center;
}

.names{
    display: flex;
    padding-left: 109px;
    margin-top: 4px;
    width: 80%;
    justify-content: space-between;
}
.names input{
    width: 47%;
    height: 35px;
    border: 1.5px solid #5c6fdb;
    border-radius: 4px;
}
.names input:focus{
    background-color:#c9c6c061 ;
     border: 2px solid blue;
}
.email{
    
    width: 80%;
    /* margin-right: 90px; */
    height: 35px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1.5px solid #5c6fdb;
    border-radius: 4px;
}
.email:focus{
    background-color: #c9c6c061;
     border: 2px solid blue;
}
.title{
    width: 80%;
    height: 35px;
    border: 1.5px solid #5c6fdb;
    border-radius: 4px;
}
.title:focus{
     background-color: #c9c6c061;
      border: 2px solid blue;
   
}
textarea{
    width: 80%;
    margin-top: 12px;
    border: 1.5px solid #5c6fdb;
    border-radius: 4px; 
    resize: none;      
}
textarea:focus{
     background-color: #c9c6c061;
     border: 2px solid blue; 
}
.form-div button{
    width: 140px;
    height: 32px;
    margin:8px 0 8px 0 ;
    background-color: #5c6fdb;
    border: 2px solid #5c6fdb;
    color: white;
    border-radius: 3.5px;
    padding: 2px ;
     align-content: center;
    text-align: center;
    align-items: center;
}
.form-div button:hover{
    cursor: pointer;
    background-color: #1734d4;
    transition: 1s;
}
/* footer */

footer{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-content: center;
     background-color: black;
    
}
footer p{
    color: white;
    text-align: center;
    margin: 0 30px 0 35px;
}


/* pour les petits ecrans */
@media (max-width: 1024px) {
    html{
        font-size: 75%;
    }
h1{
    font-size: 95%;
    margin-left: 0.625rem;
}
header p{
    max-width: 12.5rem;
}
header nav{
    min-width: 12.5rem;
    font-size: 70%;
}
.home p{
    font-weight: 400;
}
.description-div{
    max-width: 12.5rem; 
}
.description-div a{
    left: -0.188rem;
}
.img-div img{
    margin-right: -20.625rem;
    margin-bottom: -15rem;
}
.names{
    margin-left: -1.438rem;
}
}
@media(max-width:768px){
  .names{
    margin-left: -2.875rem;
}
}  
@media (max-width:624px) {
    header nav {
        font-size: 90%;
        width: 67%;
        gap: 0.313rem;
   }
    header nav ul{
        font-size: 90%;    
    } 
    .home div a{
        margin-left: -0.625rem;
    }  
    .home img{
        width: 9.375rem;
        height: 9.375rem;
        margin-left: -90px;     
    }
    .about img{
        width: 9.375rem;
        height: 9.375rem;
        margin-left: 5.313rem;
        margin-bottom: 0.313rem;
    }
    .about a{
        width: 70%;
        height: 1.563rem;
    }
    .project-box {
        margin-left: 6.25;
        padding-right: 0;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        align-content: center; 
}
@media(max-width:690px){
  .names{
    margin-left: -3.5rem;
}
@media (max-width:426px){
 
    header nav  {
        font-size: 80%;
        width: 67%;
        gap: 5px;
        padding-right: 3.438rem;
    }
 
header p{
   size: 1.25rem;
}
    header nav ul{
        font-size: 90%;
         
    } 
    

    .home div a{
        margin-left: -0.625rem;
    } 
  .project-box h4{
        font-size: 1.063rem;
        margin-bottom: 0.313rem;
    }
    .project-box p{
        margin-top: -0.188rem;
        margin-bottom: .313rem;

    }
    .project-box div a{
        size: 70%;
    }
    .project-box {
        margin-left: -1.875rem;
        padding-right: 0;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        align-content: center;
    } 
    .skills-col:nth-child(2){
        margin-right: 4.375rem;
    }
    .project-box div{
        margin-left: 5.625rem;
    }
    .names{
        margin-left: -4.75rem;
    }
}}
@media (max-width:533px) {
     .names{
        margin-left: -4.375rem;
    }
    .names{
        display: flex;
        flex-direction: column;
    }
    .skills-box{
        display: block;
        height: auto;
        padding-right: 0;
        border: 2px solid red;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }
    .skills{
        height: 44rem;
    }
    .skills-col{
        height: auto;
        margin-right: -40rem;
        /* flex-direction: column; */
    }
}
@media (max-width:398px){
    header nav{
        padding-right: 3.125rem;
    }
}
@media (max-width:398px){
    header nav{
        padding-right: 3.5rem;
    }
     .names input:nth-child(1){
        margin-bottom: 0.625rem;
    }
    .names input{
        margin:0 0.5rem 0.125rem -0.5rem ;
    }
}

@media (max-width:376px){
    header nav{
        min-width: 12.5rem;
        padding-right: 6.25rem;
    }
    .home img{
        
        margin-left: -3.125rem;     
    }
    .description-div{
        max-width: 11.875rem;  
}
    .description-div p{
        margin-right: 3.125rem;
}
.img-div{
        margin-top: 5rem;
}
.names{
        display: flex;
        flex-direction: column;
    }
    .names input:nth-child(1){
        margin-bottom: 0.625rem;
    }
    .names input{
        width: auto;
        margin:0 0.5rem 0.125rem -0.5rem ;
    }
    .project-box div{
        margin-left: 4.375rem;
    }
}
}