body{
    background-color:#FAF3E1;
    font-style: arial , sans-serif;
}
h1{
    margin-top: 0px;
    text-align: center;
    color:#1B3C53 ;
}
.container{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FAF3E3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(69 ,104, 130, 0.9) ;
}
input[type="text"]{
    padding: 8px;
    width: 80%;
    font-size: 16px;
    border:  1px solid #ABE0F0;
    border-radius: 2px solid #ccc;
    margin-right: 10px;
}
button{
    padding: 8px 20px;
    background-color: #3C3D37;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    
}
button:hover{
    background-color:#18230F ;
}

ul{
    list-style-type:  none;
    padding: 0;
    margin-top: 20px;
}
li{
    padding: 10px;
    background-color: #eee;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li:last-child{
    margin-bottom: 0px;
}
.delete-toto-btn{
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.delete-toto-btn:hover{
    background-color: #d32f2f;
}